#container{
    height: 400px;
    width: 400px;
    border: 2px solid green;
    border-radius: 5px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container div{
    height: 100px;
    width: 100px ;
    border:2px solid black;
    border-radius: 7px;
    margin: 10px;
    font-size: 50px;
    background-color: gray;
    text-align: center;
}